/*
    Custom CSS for Dubtrack.fm
    Blue theme and UI improvements
    Made by @Kris
    https://www.dubtrack.fm/kris
    https://github.com/PossiblyKris
*/
#main-loading {
    background: #519CD7;
    color: #111;
}
a:hover, 
a:visited {
    color: #519CD7;
}
#warning {
    background: #519CD7;
    color: #111;
}
#roomFormUpdate, #roomInfoModal {
    background: #111;
    border: 2px solid #519CD7;
    color: #CCC;
}
#roomFormUpdate .modal-header, #roomInfoModal .modal-header {
    background: #181818;
}
#roomFormUpdate .closebtn, #roomInfoModal .closebtn {
    color: #CCC;
}
#roomFormUpdate .mid a, #roomInfoModal .mid a {
    font-weight: 700;
    color: #519CD7;
}

/* Lobby                                = = = = = = = = = = =*/
#container-room-list .room-item .user-count {
    background: #519CD7;
    color: #111;
}
#container-room-list .room-item.active-room, 
#container-room-list .room-item.userRoom {
    outline: 1px solid rgba(0, 0, 0, 0);
}

/* Top Bar                              = = = = = = = = = = =*/
#roomFormUpdate {
    background: #111;
    border: 2px solid #519CD7;
    opacity: 0.9;
}
#header-global .main-menu li input {
    background: #222;
}
#header-global .user-info .user-header-menu li.user-messages span.message-counter {
    background: #519CD7;
    color: #111;
}
/* Bottom Bar                           = = = = = = = = = = =*/
#player-controller ul li a.playbtn:hover {
    background-color: #519CD7 !important;
    color: #111;
}
#volume-div {
    background: #222;
    border: 0px solid #222;
    border-radius: .313em;
}
#volume-div .ui-slider-handle {
    background: #519CD7;
    color: #111;
    opacity: 0.85;
}
#player-controller ul li.infoContainer .progressBg {
    background: #519CD7;
    color: #111;
    opacity: 1;
}
#player-controller ul li a {
    padding: 0.75em 1em;
}
#player-controller ul li a span {
    color: #ccc;
    opacity: 1;
}
    
#player-controller ul li a.dubup:hover {
    background: #519CD7;
    color: #111;
    opacity: 0.66;
}
#player-controller ul li a.dubup.voted {
    background: #519CD7;
    color: #111;
    opacity: 1;
}
#player-controller ul li a:hover, 
#player-controller ul li a.voted {
    background: #519CD7;
    color: #111;
    opacity: 1;
}
#player-controller ul li a.dubdown:hover {
    background: #D7519C;
    color: #111;
    opacity: 0.66;
}
#player-controller ul li a.dubdown.voted {
    background: #D7519C;
    color: #111;
    opacity: 1;
}
#player-controller .right {
    opacity: 1;
    border-left: 1px #202020 solid;
}
#player-controller .right li.copy span {
    color: rgba(81, 156, 215, 1);
}
#player-controller ul li a.playbtn .queue-info {
    background: #519CD7;
    color: #111;
    font-size: 0.9em;
}

/* Left Side Menu                       = = = = = = = = = = =*/
#main-menu-left a.close-menu span {
    font-size: 1em;
    color: #519CD7;
    color: #111;
}
#main-menu-left a.topdubs-link {
    color: #666;
}

/* Right Side Menu (Private Messages)   = = = = = = = = = = =*/
#main-menu-right a.close-menu span {
    font-size: 1em;
    color: #519CD7;
}
#private-messages .main-message-list .message-header a, 
#private-messages .message-details .message-header a {
    color: #519CD7;
    text-transform: uppercase;
}
#private-messages .main-message-list ul.message-list li.message-item .message-content h3, 
#private-messages .message-details ul.message-list li.message-item .message-content h3 {
    color: #519CD7;
}
#private-messages .main-message-list ul.message-list li.message-item.new-message:before, 
#private-messages .message-details ul.message-list li.message-item.new-message:before {
    background: #519CD7;
    color: #111;
}
#private-messages .main-message-list ul.message-list li.message-item .message-content .username-handle, 
#private-messages .message-details ul.message-list li.message-item .message-content .username-handle {
    color: #519CD7;
    font-weight: bold;
}
#private-messages .user_selected_items .result-item span b {
  color: #519CD7;
}

/* Video box                            = = = = = = = = = = =*/
#main-room .left_section {
    background: #111;
}
#main_player .player_sharing {
    background: #111;
}
#main_player .player_sharing span:hover {
    color: #519CD7;
}
#main_player:after {
    background: #111;
    color: #111;
    opacity: 1;
}
.loading {
    color: #111;
    background: #519CD7;
    opacity: 0.75;
}
#main_player .player_container {
    background-image: url(https://raw.githubusercontent.com/PossiblyKris/DubtrackCSS/master/assets/bykris.png);
}
#main_player .player_container .skip-el {
    background: #519CD7;
    opacity: 0.75;
}
#main_player .player_container .refresh-el {
    background: #519CD7;
    opacity: 0.75;
}
#main_player .player_container .videoquality-el {
    background: #519CD7;
    opacity: 0.75;
}
#main_player .player_container .hideVideo-el {
    background: #519CD7;
    opacity: 0.75;
}
#main_player .player_container .error-el {
    background: #519CD7;
}
#main_player .player_container .placeholder h5 span {
  color: #519CD7;
}
.comments-main .post-comment-container .comments-textarea-container {
    background: #222;
}
.comments-main .post-comment-container textarea {
    border: 1px #222 solid;
    background: #181818;
}
.comments-main .post-comment-container .comments-textarea-container button {
    background: #519CD7;
    color: #111;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .comment-dub {
    color: #5a5b5c;
}
button:hover {
    -moz-box-shadow: inset 0 -2px #519CD7;
    -webkit-box-shadow: inset 0 -2px #519CD7;
    box-shadow: inset 0 -2px #519CD7;
}
.comments-main .comments-list .comment-item header a {
    color: #519CD7;
}
.comments-main .comments-list .comment-item .comment-dub .icon-arrow-up:hover, 
.comments-main .comments-list .comment-item .comment-dub .icon-arrow-up.dubvoted, 
.comments-main .comments-list .comment-item .comment-dub .icon-arrow-down:hover, 
.comments-main .comments-list .comment-item .comment-dub .icon-arrow-down.dubvoted {
    color: #519CD7;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .comment-dub a.delete:hover {
    color: #519CD7;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .icon-flag:hover {
    color: #519CD7;
    opacity: 0.75;
}
    
/* Chat box                             = = = = = = = = = = =*/
#user_popover .global-actions a {
    background: #519CD7;
}
#chat .chat_tools .room-user-counter {
    background: #519CD7 !important;
    color: #111;
    opacity: 0.9;
    font-size: 0.8em;
    font-weight: 600;
}
#chat .chat_tools .room-user-counter:before {
    font-size: 0.8em;
}

#chat .chat_tools .clearChatToggle {
    opacity: 0.9;
    font-size: .75em;
	
}
#chat .chat_tools .hideImagesToggle {
    opacity: 0.9;
    font-size: .75em;
    margin-left: 1px;
}
#chat #new-messages-counter {
    background: #519CD7;
    color: #111;
}
#chat .chat-container .pusher-chat-widget-input button {
    color: #111;
    background: #519CD7 !important;
    opacity: 0.75;
}
#chat .chat-container .pusher-chat-widget-input .icon-camera {
    color: #519CD7;
    opacity: 0.75;
}
#chat .chat-container ul.chat-main li.system {
    color: #D7519C;
    opacity: 1;
    font-size: .6em;
    background: #202020;
}
#chat .chat-container ul.chat-main li.system-error {
    color: #D7519C;
    font-size: .6em;
}
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle {
    color: #CCC;
    opacity: 1;
    font-weight: 400;
}
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle[style="color: rgba(255, 0, 255, 0.8);"] {
    color: #FFDD6F !important;
}
#chat .chat-container ul.chat-main li:focus .chatDelete, 
#chat .chat-container ul.chat-main li:hover .chatDelete {
    color: #519CD7 !important;
    opacity: 0.75;
    font-size: 0.6em;
}
#chat .chat-container ul.chat-main li .activity-row .meta-info .username {
    font-size: .6em;
    color: #519CD7;
}
#chat .chat-container ul.chat-main li.chat-welcome-message {
	color: #D7519C;
}
#chat .chat-container ul.chat-main li.chat-welcome-message a {
    color: #519CD7;
}
#chat .chat-container ul.chat-main li.chat-me-command-joined {
    color: #999;
}
#chat .chat-container ul.chat-main li .activity-row .text p a.autolink {
    color: #519CD7;
}
#chat .chat-container ul.chat-main li .activity-row .text p a.autolink:visited {
    color: #005d99;
}

/* Special User Colours                 = = = = = = = = = = =*/
#chat .chat-container ul.chat-main li .activity-row .text p a.username, 
#chat .chat-container ul.chat-main li .activity-row .text p a.username:hover, 
#chat .chat-container ul.chat-main li .activity-row .text p a.username:visited {
    color: #519CD7;
    opacity: 1;
    font-weight: 400
}
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000001,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000005,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008,
#chat .chat-container ul.chat-main li.user-5600e1bf2e803803000fee40, /* Roomba */
#chat .chat-container ul.chat-main li.user-55ff1b594c828c03008bd5f7 { /* Chillbot */
	background: #181818;
	box-shadow: 8px 0px 0px #181818;
}
#chat .chat-container ul.chat-main li.user-5600e1bf2e803803000fee40 .activity-row .text p a.username, /* Roomba */
#chat .chat-container ul.chat-main li.user-55ff1b594c828c03008bd5f7 .activity-row .text p a.username { /* Chillbot */
    color: #D7519C !important;
    font-weight: 600;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000001 .activity-row .text p a.username, /* nambok */
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000005 .activity-row .text p a.username, /* joe */
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username {/* alex */
    opacity: 1;
    font-weight: 600;
}
#chat .chat-container ul.chat-main li.user-55f748be44809b0300f885dc .activity-row .text p a.username, /* Molly */
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username, /* kris */
#chat .chat-container ul.chat-main li.user-55ff6b62d0ce89030080f3c6 .activity-row .text p a.username, /* fishy */
#chat .chat-container ul.chat-main li.user-55ffc1b6196f170300cc0ecf .activity-row .text p a.username, /* stray */
#chat .chat-container ul.chat-main li.user-55ff2e401cef3e0300604c2c .activity-row .text p a.username, /* blau */
#chat .chat-container ul.chat-main li.user-53acb44af60889020013e468 .activity-row .text p a.username, /* notturno */
#chat .chat-container ul.chat-main li.user-55ff48c19ada760300c04eda .activity-row .text p a.username, /* chillstep */
#chat .chat-container ul.chat-main li.user-55ffba16196f170300cc0e3b .activity-row .text p a.username, /* frenchie */
#chat .chat-container ul.chat-main li.user-5600004ce3667d0300dcd9d3 .activity-row .text p a.username, /* cherry */
#chat .chat-container ul.chat-main li.user-55ff8bf7196f170300cc0b2a .activity-row .text p a.username, /* mitch */
#chat .chat-container ul.chat-main li.user-56057c33aab9a90300d8aad9 .activity-row .text p a.username, /* doctorzetin */
#chat .chat-container ul.chat-main li.user-56003d36239f1303009c8530 .activity-row .text p a.username, /* aber */
#chat .chat-container ul.chat-main li.user-55ff46735335f703008b0be6 .activity-row .text p a.username, /* curls */
#chat .chat-container ul.chat-main li.user-55ff2805f2db2b030087e5d1 .activity-row .text p a.username, /* phil */
#chat .chat-container ul.chat-main li.user-56015afd2d5038030094d7d4 .activity-row .text p a.username, /* calachi */
#chat .chat-container ul.chat-main li.user-55ff9b861564a403003f4fec .activity-row .text p a.username, /* anderz */
#chat .chat-container ul.chat-main li.user-56001ef1d2972003005ab233 .activity-row .text p a.username, /* bockness*/
#chat .chat-container ul.chat-main li.user-55ff5b8af403a30300df114d .activity-row .text p a.username, /* swanmeat*/
#chat .chat-container ul.chat-main li.user-55ff56cdd0ce89030080f2d0 .activity-row .text p a.username, /* braincomb*/
#chat .chat-container ul.chat-main li.user-56008b05239f1303009c92f4 .activity-row .text p a.username, /* mawu */
#chat .chat-container ul.chat-main li.user-55ffa427196f170300cc0ccc .activity-row .text p a.username, /* geologic*/
#chat .chat-container ul.chat-main li.user-55ffced7196f170300cc0f75 .activity-row .text p a.username, /* theo*/
#chat .chat-container ul.chat-main li.user-55ffc4d41564a403003f52b9 .activity-row .text p a.username, /* muchlove */
#chat .chat-container ul.chat-main li.user-55ffaa731564a403003f50d5 .activity-row .text p a.username, /* axle */
#chat .chat-container ul.chat-main li.user-5600a1f0bfb6340300a2dd65 .activity-row .text p a.username, /* zikelir */
#chat .chat-container ul.chat-main li.user-5604ed62c4f5dd03004bbf4b .activity-row .text p a.username, /* police */
#chat .chat-container ul.chat-main li.user-5600d6842d5038030094c623 .activity-row .text p a.username, /* banksy */
#chat .chat-container ul.chat-main li.user-560347f4b585d003001b2f8c .activity-row .text p a.username  /* chief */ 
{
    opacity: 1;
    font-weight: 600;
}

/* User tab                             = = = = = = = = = = =*/
#main-room #mobile-room-menu a span.info-counter {
    background: #519CD7;
    color: #111;
}
#main_avatar_room .avatar_tools a.loadRoomAva span {
    background: #519CD7;
    color: #111;
    opacity: 0.75;
    transition: left 0.0s ease-in 0.0s;
}
ul.avatar-list li p.username {
    color: #519CD7;
}
ul.avatar-list li.admin:after {
    color: #D7519C!important;
}
ul.avatar-list li.creator:after {
    color: #D7519C!important;
}
ul.avatar-list li.co-owner:after {
    color: #519CD7;
}
ul.avatar-list li.manager:after {
    color: #519CD7;
}
ul.avatar-list li.mod:after {
    color: #519CD7;
}
ul.avatar-list li.vip:after {
    color: #519CD7;
}
ul.avatar-list li.resident-dj:after {
    color: #519CD7;
}
ul.avatar-list li.currentDJ:after {
    color: #FFDD6F;
}
#user_popover {
    background: #111;
    border: 1px solid #519CD7;
}
#user_popover .actions a,
#user_popover .global-actions a {
    color: #111;
    background: #519CD7;
    outline: 1px solid #111;
}
#user_popover .actions a input {
    border-bottom: 1px solid #111;
    background: #111;
}
ul.avatar-list li.updub {
    border: 1px solid #519CD7;
}
ul.avatar-list li.downdub {
    border: 1px solid #D7519C;
}

/* Profile Page                         = = = = = = = = = = =*/
#profileMainSection .profileView .header .pictureContainer a.updatePictureGif {
    background: #519CD7;
    color: #111;
}
#profileMainSection .profileView .header .pictureContainer img {
    background: #000;
    border: 0.4em solid #519CD7;
}
#profileMainSection .profileView .contentMainProfile span.progress {
    opacity: 0.7;
    background: #519CD7;
    color: #111;
}
#profileMainSection .profileView .infoProfile h2 span.editUsername, 
#profileMainSection .profileView .infoProfile h2 span.saveUsername {
    color: #111;
    background: #519CD7;
}
#profileMainSection .profileView .rewindProfile {
    border: 5px solid #519CD7;
}
#profileMainSection .profileView .infoProfile button.message.unfollow {
    background: #D7519C;
    color: #111;
}
#profileMainSection .profileView .infoProfile h2 .check_username_info.error {
    color: #D7519C;
}

/* Playlist Menu                        = = = = = = = = = = =*/
#browser .browser-content-header {
    color: #519CD7;
    background: #111;
}
#browser .browser-content {
    border: 2px rgba(81, 156, 215, 0.75) solid;
}
#browser .browser-content-header .form input[type=text] {
    outline: 1px #333 solid;
    background: #202020;
}
#browser .browser-content-header .form a.active {
    outline-color: #519CD7;
    opacity: 1;
}
#browser .browser-content-header .form a.search-btn {
    color: #111;
    background: #519CD7;
    outline-color: #519CD7;
    opacity: 0.75;
}
#browser .create-playlist span {
    color: #000;
    background: #519CD7;
    opacity: 0.75;
}
#browser .loading {
    text-transform: uppercase;
    background: #519CD7;
    color: #000;
}
#browser .loading, 
#browser .clear-queue-browser-bth,
#browser .pause-queue-browser-bth {
    color: #111;
    background: #519CD7;
    opacity: 1;
    outline: none;
}
#browser .sidebar #room-lock-queue,
#browser .sidebar #room-lock-queue.locked {
    color: #111;
    background: #519CD7;
    opacity: 1;
    font-size: 14px;
}
#browser .content-videos ul.browserPlaylistItems>li {
    border-bottom: 1px #202020 solid;
    background: #111;
    opacity: 0.85;
}
#browser .content-videos ul.browserPlaylistItems>li span.timeDisplay {
    color: #111;
    background: #519CD7;
    opacity: 1;
}
#browser .content-videos ul.browserPlaylistItems>li .description p span {
    color: #519CD7;
    opacity: 1;
}
#browser ul.playlist-style li:hover .add_to_queue, 
#browser ul.playlist-style li:hover .delete {
    color: #519CD7;
    opacity: 1;
}
#results_video_api a.tt-wrapper.playlist_type.playlist_type_private, 
#results_video_api a.tt-wrapper.upload_btn.playlist_type_private {
    border: #519CD7 1px solid;
    color: #111;
    background: #519CD7;
}
#browser .browser-content-header .close {
    color: #519CD7;
    opacity: 0.8;
}
#browser span.title {
    color: #519CD7;
    font-size: 1.5em;
}
#addToPlaylistFloatContainer .create-playlist-input span {
    background: #519CD7;
    color: #111;
}
#browser .content-videos ul.browserPlaylistItems>li .description p {
    color: #519CD7;
}
#browser .content-videos ul.browserPlaylistItems>li .display-success {
    background: #519CD7;
    color: #111;
}
#browser .content-videos ul.browserPlaylistItems>li .actions a .spinner>div {
    background: #519CD7;
    color: #111;
}
#browser .content-videos ul.browserPlaylistItems>li .display-error, 
#browser .content-videos ul.browserPlaylistItems>li .display-success {
    background: #519CD7;
    color: #111;
}
#results_video_api .playlist_info {
    background: #111;
}
#results_video_api .playlist_info .playlist_filter {
    border: 1px #202020 solid;
}
#browser .content-videos ul.browserPlaylistItems>li.selected {
    outline: 1px solid #519CD7;
    border-bottom: 1px solid #519CD7;
}

	/* Video Previews                   = = = = = = = = = = =*/
.player .ui-slider-range {
    background: #519CD7;
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
}
.player .ui-slider-handle {
    background: #519CD7;
    color: #111;
}
.player .controlContainer .progressContainer .progress, 
.player .controlContainer .progressContainer .loaded {
    background: #519CD7;
    color: #111;
}
.player .tooltip {
    color: #111;
    background: #519CD7;
}
	/* Soundcloud                       = = = = = = = = = = =*/
.player .loading, 
.player .buffering, 
.player .replay, 
.player .error {
    background: #519CD7;
    color: #111;
}

/* DubX Menu                            = = = = = = = = = = =*/
.isSwordful {
    border-left: 0px solid #519CD7 !important;
}
.isSwordful .verSwordful .Javaling,
.isSwordful .optionSwordful {
    color: #CCC !important;
}    
.optionSwordful .titleClass .istitle {
    color: #519CD7 !important;
}
.BSSControl .storeBSSClass,
.RSSControl .storeRSSClass,
.reportControl .reportGo,
.requestControl .requestGo {
    background: #519CD7 !important;
}
.isSwordful ul li.optionClass.isFacebook a,
.isSwordful ul li.optionClass.isTwitter a {
    color: #ccc !important;
}

/* Not logged in                            = = = = = = = = = = =*/
#login-model-window .login-model-container {
    background: #111;
}
#login-model-window .login-model-container input[type=submit] {
    background: #519CD7;
    color: #111;
}
#login-model-window .login-model-container .account-actions a {
    color: #CCC;
}
#login-model-window .login-model-container:after {
    opacity: 0.75;
    border: .375em solid #111;
}
#header_login,
#header_login a {
    background: #519CD7;
    color: #111;
}
#login-model-window .login-model-container .err-message {
    color: #D7519C;
    border: 1px solid #D7519C;
    font-size: 0.8em;
}
#login-model-window .login-model-container .success-message {
    color: #519CD7;
    border: 1px solid #519CD7;
    font-size: 0.8em;
}
