/*
    Custom CSS for Dubtrack.fm
    Blue theme and UI improvements
    Made by @Kris
    https://www.dubtrack.fm/kris
*/
#main-loading {
    background: #42A5DC;
}
a:hover, a:visited {
    color: #42A5DC;
}
#warning {
    background: #42A5DC;
}
/* Lobby */
#container-room-list .room-item .user-count {
    background: #42A5DC;
}
#container-room-list .room-item.active-room, 
#container-room-list .room-item.userRoom {
    outline: 1px solid rgba(0, 0, 0, 0);
}

/* Top Bar */
#roomFormUpdate {
    background: #000;
    border: 2px solid #42A5DC;
}
#header-global .user-info .user-header-menu li.user-messages span.message-counter {
    background: #42A5DC;
}

/* Bottom Bar */
#player-controller ul li a.playbtn:hover {
    background-color: #AA74FE !important;
}
#volume-div .ui-slider-handle {
    background: #42A5DC;
    opacity: 0.75;
}
#player-controller ul li.infoContainer .progressBg {
    background: #AA74FE;
    opacity: 0.75;
}
#player-controller ul li a.dubup:hover {
    background: #90AD2F;
    opacity: 0.66;
}
#player-controller ul li a.dubup.voted {
    background: #90AD2F;
    opacity: 1;
}
#player-controller ul li a:hover, 
#player-controller ul li a.voted {
    background: #AA74FE;
    opacity: 1;
}
#player-controller ul li a.dubdown:hover {
    background: #C42E3B;
    opacity: 0.66;
}
#player-controller ul li a.dubdown.voted {
    background: #C42E3B;
    opacity: 1;
}
#player-controller .right {
    opacity: 1;
    border-left: 1px #202020 solid;
}
#player-controller .right li.copy span {
    color: rgba(66, 165, 220, 1);
}
#player-controller ul li a.playbtn .queue-info {
    background: #42A5DC;
}

/* Left Side Menu */
#main-menu-left a.close-menu span {
    font-size: 1em;
    color: #42A5DC;
}
#main-menu-left a.topdubs-link {
    color: #666;
}

/* Right Side Menu (Private Messages) */
#private-messages .main-message-list ul.message-list li.message-item .message-content h3, 
#private-messages .message-details ul.message-list li.message-item .message-content h3 {
    color: #42A5DC;
}
#main-menu-right a.close-menu span {
    font-size: 1em;
    color: #42A5DC;
}
#private-messages .main-message-list .message-header a, 
#private-messages .message-details .message-header a {
    color: #42A5DC;
    text-transform: uppercase;
}
#private-messages .main-message-list ul.message-list li.message-item .message-content .username-handle, 
#private-messages .message-details ul.message-list li.message-item .message-content .username-handle {
    color: #42A5DC;
    font-weight: bold;
}

/* Video box */
#main-room .left_section {
    background: #111;
}
#main_player .player_sharing {
    background: #111;
}
#main_player .player_sharing span:hover {
    color: #42A5DC;
}
#main_player:after {
    background: #111;
    opacity: 1;
}
.loading {
    color: #000;
    background: #42A5DC;
    opacity: 0.75;
}
#main_player .player_container {
    background-image: url(https://raw.githubusercontent.com/PossiblyKris/DubtrackCSS/master/assets/bykris.png);
}
#main_player .player_container .skip-el {
    background: #42A5DC;
    opacity: 0.75;
}
#main_player .player_container .refresh-el {
    background: #42A5DC;
    opacity: 0.75;
}
#main_player .player_container .videoquality-el {
    background: #42A5DC;
    opacity: 0.75;
}
#main_player .player_container .hideVideo-el {
    background: #42A5DC;
    opacity: 0.75;
}
#main_player .player_container .error-el {
    background: #42A5DC;
}
.comments-main .post-comment-container .comments-textarea-container {
    background: #222;
}
.comments-main .post-comment-container textarea {
    border: 1px #222 solid;
    background: #181818;
}
.comments-main .post-comment-container .comments-textarea-container button {
    background: #42A5DC;
    color: #000;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .comment-dub {
    color: #5a5b5c;
}
button:hover {
    -moz-box-shadow: inset 0 -2px #42A5DC;
    -webkit-box-shadow: inset 0 -2px #42A5DC;
    box-shadow: inset 0 -2px #42A5DC;
}
.comments-main .comments-list .comment-item header a {
    color: #42A5DC;
}
.comments-main .comments-list .comment-item .comment-dub .icon-arrow-up:hover, .comments-main .comments-list .comment-item .comment-dub .icon-arrow-up.dubvoted, .comments-main .comments-list .comment-item .comment-dub .icon-arrow-down:hover, .comments-main .comments-list .comment-item .comment-dub .icon-arrow-down.dubvoted {
    color: #42A5DC;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .comment-dub a.delete:hover {
    color: #42A5DC;
    opacity: 0.75;
}
.comments-main .comments-list .comment-item .icon-flag:hover {
    color: #42A5DC;
    opacity: 0.75;
}
    
/* Chat box */
#chat .chat_tools .room-user-counter {
    background: #42A5DC !important;
    color: #000;
    opacity: 0.75;
}
#chat #new-messages-counter {
    background: #42A5DC;
    color: #000;
}
#chat .chat-container .pusher-chat-widget-input button {
    color: #000;
    background: #42A5DC !important;
    opacity: 0.75;
}
#chat .chat-container .pusher-chat-widget-input .icon-camera {
    color: #42A5DC;
    opacity: 0.75;
}
#chat .chat-container ul.chat-main li.system {
    color: #C42E3B;
    opacity: 1;
}
#chat .chat-container ul.chat-main li.system-error {
    color: #DC42A5;
}
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle {
    color: #FFDD6F;
    opacity: 1;
    font-weight: 400
}
#chat .chat-container ul.chat-main li:hover>.stream-item-content .chatDelete, 
#chat .chat-container ul.chat-main li .stream-item-content:focus>.chatDelete {
    color: #C42E3B !important;
    opacity: 0.75;
    font-size: 0.65em;
}

/* Username Colors */
    /* Classes 
#chat .chat-container ul.chat-main li.group-user .activity-row .text p a.username {
    color: #42A5DC !important;
    opacity: 1;
}
#chat .chat-container ul.chat-main li.group-dj .activity-row .text p a.username {
    color: #DC42A5 !important;
    opacity: 1;
}
#chat .chat-container ul.chat-main li.group-mods .activity-row .text p a.username {
    color: #AA74FE !important;
    opacity: 1;
	font-weight: 600
}
#chat .chat-container ul.chat-main li.group-owner .activity-row .text p a.username {
    color: #42A5DC !important;
    opacity: 1;
	font-weight: 600
}
#chat .chat-container ul.chat-main li.group-admin .activity-row .text p a.username {
    color: #42A5DC !important;
    opacity: 1;
	font-weight: 600
}

/* Special User Colours */
#chat .chat-container ul.chat-main li .activity-row .text p a.username, 
#chat .chat-container ul.chat-main li .activity-row .text p a.username:hover, 
#chat .chat-container ul.chat-main li .activity-row .text p a.username:visited {
    color: #42A5DC;
    opacity: 1;
    font-weight: 400
}

/* User tab */
#main-room #mobile-room-menu a span.info-counter {
    background: #42A5DC;
}
#main_avatar_room .avatar_tools a.loadRoomAva span {
    background: #42A5DC;
    color: #000;
    opacity: 0.75;
    transition: left 0.0s ease-in 0.0s;
}
ul.avatar-list li.mod:after, ul.avatar-list li.creator:after, ul.avatar-list li.admin:after {
    background: #AA74FE;
    opacity: 0.95;
    color: #000;
}
ul.avatar-list li.currentDJ:after {
    background: #42A5DC;
    opacity: 0.95;
    color: #000;
}
#user_popover .actions a {
    color: #000;
    background: #42A5DC;
}
#user_popover {
    background: #111;
    border: 1px solid #42A5DC;
}
ul.avatar-list li.updub {
    border: 1px solid #90AD2F;
}
ul.avatar-list li.downdub {
    border: 1px solid #C42E3B;
}

/* Profile Page */
#profileMainSection .profileView .header .pictureContainer a.updatePictureGif {
    background: #42A5DC;
    color: #000;
}
#profileMainSection .profileView .header .pictureContainer img {
    background: #000;
    border: 0.4em solid #42A5DC;
}
#profileMainSection .profileView .contentMainProfile span.progress {
    opacity: 0.7;
    background: #42A5DC;
}
#profileMainSection .profileView .infoProfile h2 span.editUsername, 
#profileMainSection .profileView .infoProfile h2 span.saveUsername {
    color: #000;
    background: #42A5DC;
}

/* Playlist Menu */
#browser .browser-content-header {
    color: #42A5DC;
    background: #202020;
}
#browser .browser-content {
    border: 2px rgba(66, 165, 220, 0.75) solid;
}
#browser .browser-content-header .form input[type=text] {
    outline: 1px #333 solid;
    background: #181818;
}
#browser .browser-content-header .form a.active {
    outline-color: #42A5DC;
    opacity: 1;
}
#browser .browser-content-header .form a.search-btn {
    color: #000;
    background: #42A5DC;
    outline-color: #42A5DC;
    opacity: 0.75;
}
#browser .create-playlist span {
    color: #000;
    background: #42A5DC;
    opacity: 0.75;
}
#browser .loading {
    text-transform: uppercase;
    background: #42A5DC;
    color: #000;
}
#browser .loading, #browser .clear-queue-browser-bth {
    background: #42A5DC;
}
#browser .content-videos ul.browserPlaylistItems>li {
    border-bottom: 1px #202020 solid;
    background: #111;
    opacity: 0.85;
}
#browser .content-videos ul.browserPlaylistItems>li span.timeDisplay {
    color: #000;
    background: #42A5DC;
    opacity: 1;
}
#browser .content-videos ul.browserPlaylistItems>li .description p span {
    color: #42A5DC;
    opacity: 1;
}
#browser ul.playlist-style li:hover .add_to_queue, 
#browser ul.playlist-style li:hover .delete {
    color: #42A5DC;
    opacity: 1;
}
#results_video_api a.tt-wrapper.playlist_type.playlist_type_private, 
#results_video_api a.tt-wrapper.upload_btn.playlist_type_private {
    border: #42A5DC 1px solid;
    color: #000;
    background: #42A5DC;
}
#browser .browser-content-header .close {
    color: #42A5DC;
    opacity: 0.8;
}
#browser span.title {
    color: #42A5DC;
    font-size: 1.5em;
}
#addToPlaylistFloatContainer .create-playlist-input span {
    background: #AA74FE;
}
#browser .content-videos ul.browserPlaylistItems>li .description p {
    color: #AA74FE;
}
#browser .content-videos ul.browserPlaylistItems>li .display-success {
    background: #AA74FE;
    color: #000;
}
#browser .content-videos ul.browserPlaylistItems>li .actions a .spinner>div {
    background: #AA74FE;
}
#browser .content-videos ul.browserPlaylistItems>li .display-error, 
#browser .content-videos ul.browserPlaylistItems>li .display-success {
    background: #AA74FE;
}
#results_video_api .playlist_info {
    background: #111;
}
#results_video_api .playlist_info .playlist_filter {
    border: 1px #202020 solid;
}

	/* Video Previews */
.player .ui-slider-range {
    background: #42A5DC;
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
}
.player .ui-slider-handle {
    background: #42A5DC;
}
.player .controlContainer .progressContainer .progress, .player .controlContainer .progressContainer .loaded {
    background: #42A5DC;
}
.player .tooltip {
    color: #fff;
    background: #42A5DC;
}
	/* Soundcloud */
.player .loading, .player .buffering {
    background: #42A5DC;
}
.player .replay, .player .error {
    background: #42A5DC;
}

/* DubX Menu */
.isSwordful {
    border-left: 0px solid #42A5DC !important;
}
.isSwordful .verSwordful .Javaling,
.isSwordful .optionSwordful {
    color: #CCC !important;
}    
.optionSwordful .titleClass .istitle {
    color: #42A5DC !important;
}
.BSSControl .storeBSSClass,
.RSSControl .storeRSSClass,
.reportControl .reportGo,
.requestControl .requestGo {
    background: #42A5DC !important;
}
