/* ##### [Theme] #####*/
/* [CHAT] */
#chat .chat_tools,
#chat .chat-container .pusher-chat-widget-input,
#main_avatar_room .avatar_tools .input-room-users-search {
  background: linear-gradient(hsla(210,10%,10%,0.8), hsla(210,10%,5%,0.8));
}
input {
  background: linear-gradient(to top, hsla(210,10%,10%,0.8), hsla(210,10%,5%,0.8)) !important;
  box-shadow: inset 0 2px 10px -2px #000 !important;
  transition: all ease-in-out 0.5s !important;
  text-shadow: 0 2px 10px #000 !important;
}
input:focus {
  background: linear-gradient(to top, hsl(210,10%,10%), hsl(210,10%,5%)) !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: 1px solid hsl(210,80%,50%) !important;
  border-right: 0 !important;
}
#results_video_api .playlist_info .playlist_filter:focus,
#main_avatar_room .avatar_tools .input-room-users-search input:focus,
#header-global .main-menu li input:focus,
#private-messages .main-message-list .message-header input:focus {
  border-right: 1px solid hsl(210,80%,50%) !important;
}
#chat,
#main_avatar_room {
  background: hsla(210,10%,10%,0.5);
}
.chat-container {
  box-shadow: inset 0 0 10px #000;
  margin-top: -10px;
}
#chat .system {
  opacity: 1 !important;
  background: linear-gradient(hsla(280,80%,30%,0.8), hsla(280,80%,20%,0.8)) !important;
  box-shadow: inset 0 0 1px hsla(0,0%,100%,0.8),
  inset 0 -2px 10px hsla(0,0%,0%,0.3) !important;
  padding: 10px !important;
  color: hsl(280,80%,60%) !important;
}
/* Global ranks */
ul.avatar-list li.admin:after {color: hsla(10,80%,40%,0.8);}
ul.avatar-list li.creator:after {color: hsla(220,80%,50%,0.8);}
ul.avatar-list li.mod:after {color: hsla(90,80%,30%,0.8);}
ul.avatar-list li.currentDJ:after {color: hsla(270,70%,40%,0.8);}
#chat .chat-container ul.chat-main li.current-chat-user .activity-row .text p a.username {color: hsl(20,70%,50%) !important;}
/* ----[Generic]---- */
a:focus {outline: 0;}
.chat-main li {
  animation-duration: 0.25s;
}
#chat li,
#browser .content-videos ul.browserPlaylistItems li.playlist-item,
#browser .content-videos ul.browserPlaylistItems li.history-item {
  box-shadow: inset 1px 1px 0 hsla(0,0%,0%,0.5);
  background: linear-gradient(hsla(210,10%,10%,0.8), hsla(210,10%,5%,0.8));
  margin: 0 !important;
  border: none;
}
#chat li:nth-child(odd),
#browser .content-videos ul.browserPlaylistItems li.playlist-item:nth-child(odd),
#browser .content-videos ul.browserPlaylistItems>li.history-item:nth-child(odd) {
  box-shadow: inset 1px 1px 0 hsla(0,0%,100%,0.1);
  background: linear-gradient(hsla(0,0%,15%,0.8), hsla(0,0%,10%,0.8));
}
#chat li .image_row:after {
  display: none;
}
#chat li img {
  margin: 3px 5px;
}
ul.avatar-list li .picture {
  display: block;
}
#chat .username {color: hsl(210,8%,50%) !important;}
#chat li .activity-row .meta-info {opacity:0.8 !important;}
#chat .timeago a {color: #aaa;}
#chat .timeago a:hover {color: #0bf;text-shadow: 0 0 5px;}
/* ----[User-Interface]---- */
#header-global,
#player-controller,
#main_player .player_sharing,
#container-room-list .room-item .user-info,
.menu-left-in #main-menu-left,
.menu-right-in #main-menu-right,
#container-room-list .room-item .description,
#user_popover,
#user_popover .actions a,
#profileMainSection .profileView,
#profileMainSection .profileView .infoProfile,
#profileMainSection .profileView .contentMainProfile .contentTab.active,
#profileSidebar,
#private-messages .main-message-list .message-header,
#private-messages .message-details .message-header,
#main-menu-right a.close-menu,
#private-messages .main-message-list,
#private-messages .message-details {
  background: linear-gradient(hsla(0,0%,10%,0.8), hsla(0,0%,5%,0.8));
}
#user_popover .actions a {
  outline: 0;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,0.4);
}
button {
  background: linear-gradient(hsla(210,5%,30%,0.8), hsla(210,5%,20%,0.8));
  box-shadow: none;
}
a.close-menu {
  box-shadow: 0 0 10px #000;
}
#player-controller ul li {
  border-right: none !important;
  box-shadow: 1px 0 0 hsla(0,0%,0%,0.5);
}
#player-controller .right {
  border: none;
}
#header-global h1 span {
  margin: -5px 0;
}
#container-room-list .room-item .description {
  margin: 0;
}
#container-room-list .room-item {
  text-align: center;
}
div#main-loading {
  background: linear-gradient(hsl(210,80%,50%), hsl(210,80%,40%));
}
#header-global h1,
#main-room #mobile-room-menu,
.comments-main {
  background: transparent;
}
#main-room #mobile-room-menu a {
  background: linear-gradient(hsla(0,0%,10%,0.8), hsla(0,0%,5%,0.8));
}
#main-room #mobile-room-menu a.active {
  background: linear-gradient(hsl(220,80%,40%), hsl(220,80%,30%));
}
#main-room #mobile-room-menu a.active .info-counter,
#player-controller ul li a.playbtn:hover .queue-info,
#header-global .user-info .user-header-menu li.user-messages:hover span.message-counter {
  background: linear-gradient(to top, hsl(210,10%,10%), hsl(210,10%,5%));
  color: #aaa;
}
#player-controller ul li a.playbtn .queue-info {
  border-radius: 10px 0 10px 10px;
  font-weight: normal;
}
#room-comments {
  background: hsla(210,10%,8%,0.8) !important;
}
.ps-scrollbar-y-rail {
  box-shadow: inset 0 0 7px #000;
}
.ps-scrollbar-y {
  background: linear-gradient(to right, #777, #444) !important;
  box-shadow: inset 3px 0 5px hsla(0,0%,100%,0.3);
}
/* AVATARS */
#main_avatar_room {
  background: hsla(210,10%,8%,0.8);
  box-shadow: inset 0 0 10px #000;
}
ul.avatar-list li {
  background: linear-gradient(#222, #111);
  box-shadow: inset 0 0 0 1px #000;
}
ul.avatar-list li,
ul.avatar-list li.updub,
ul.avatar-list li.downdub {
  border: none;
}
ul.avatar-list li p.username {color: #eee;}
ul.avatar-list li.updub {
  box-shadow: inset 0 0 0 1px hsl(90,80%,40%);
}
ul.avatar-list li.downdub {
  box-shadow: inset 0 0 0 1px hsl(0,50%,40%);
}
ul.avatar-list li.admin:after,
ul.avatar-list li.creator:after,
ul.avatar-list li.mod:after,
ul.avatar-list li.currentDJ:after {
  top: 53px;
}
/* ##### [PURPLE replaced to BLUE] #####*/
#main_player:after,
#main_player .player_container .skip-el,
#chat .chat-container .pusher-chat-widget-input button,
.comments-main .post-comment-container .comments-textarea-container button,
#chat .chat_tools .room-user-counter,
#dubtrack-video-realtime .toggle_videos,
#player-controller ul li.infoContainer .progressBg,
#volume-div .ui-slider-handle,
#main-room #mobile-room-menu a span.info-counter,
#player-controller ul li a.playbtn .queue-info,
#main_avatar_room .avatar_tools a.loadRoomAva span,
#player-controller ul li a:hover,
#player-controller ul li a.voted,
#browser .browser-content-header .form a.search-btn,
#browser .create-playlist span,
#browser .content-videos ul.browserPlaylistItems>li span.timeDisplay,
#browser .content-videos ul.browserPlaylistItems>li .display-success,
#browser .loading,
#browser .clear-queue-browser-bth,
#container-room-list .room-item .user-count,
#user_popover .actions a:hover,
#profileMainSection .profileView .header .pictureContainer a.updatePictureGif,
#profileMainSection .profileView .infoProfile h2 span.editUsername,
#profileMainSection .profileView .infoProfile h2 span.saveUsername,
#profileMainSection .profileView .contentMainProfile span.progress,
#header-global .user-info .user-header-menu li.user-messages span.message-counter,
#chat #new-messages-counter {
  background: linear-gradient(hsl(210,80%,40%), hsl(210,80%,30%));
  background-color: transparent !important;
}
#main-menu-right a:hover,
#main-menu-left a:hover,
button:hover {
  background: linear-gradient(hsl(210,80%,30%), hsl(210,80%,20%)) !important;
  box-shadow: inset 0 0 2px hsl(210,80%,50%);
}
#main-menu-right a.close-menu:hover ::before,
#main-menu-left a.close-menu:hover ::before,
#user_popover .actions a:hover {
  color: hsl(210,10%,10%) !important;
}
#main-menu-left a:hover {
  color: #fff !important;
}
#chat .chatDelete {
  top: -5px; right: -2px !important;
  color: hsl(210,10%,60%) !important;
}
#chat .chatDelete:hover {
  color: hsl(0,80%,40%) !important;
}
#main-menu-left a.logout-link:hover,
.logout button:hover {
  background: linear-gradient(hsl(0,70%,30%), hsl(0,70%,20%)) !important;
  box-shadow: inset 0 0 2px hsl(0,70%,50%);
}
#chat .chat-container .pusher-chat-widget-input .icon-camera,
#private-messages .main-message-list ul.message-list li.message-item .message-content h3,
#main-menu-left a.close-menu span,
#main-menu-right a.close-menu span,
#browser .browser-content-header .close,
#browser span.title,
#user_popover .actions a {
  color: hsl(210,80%,30%) !important;
}
#profileMainSection .profileView .rewindProfile {
  border-color: hsl(210,80%,40%);
}
#user_popover,
#browser .browser-content,
#roomFormUpdate,
#profileMainSection .profileView .header .pictureContainer img {
  border: 2px solid hsl(210,80%,30%);
}
#browser .browser-content-header .form a.active,
#container-room-list .room-item.active-room,
#container-room-list .room-item.userRoom {
  outline-color: hsl(210,80%,40%);
}
#container-room-list .room-item .description .name,
#private-messages .main-message-list .message-header a, #private-messages .message-details .message-header a {
  color: hsl(210,60%,50%);
}
/* ##### [CYAN replaced to GREEN] #####*/
.loading,
#player-controller ul li a.dubup:hover,
#player-controller ul li a.dubup.voted,
#main_player .player_container .loading {
  background: linear-gradient(hsl(90,50%,50%), hsl(90,50%,40%));
}
#player-controller .right,
#chat .username-handle,
#container-room-list .room-item .user-info .room-user a,
#user_popover .usercontent header h3,
#profileMainSection .profileView .infoProfile h2 span.usernameContainer,
#main_player .player_sharing span:hover {
  color: hsl(90,50%,50%) !important;
}
/* ##### [Browser] ##### */
#browser span.preview {
  color: hsl(210,80%,40%) !important;
}
#browser .browser-content,
#results_video_api .playlist_info,
#browser .sidebar, #browser .browser-content-header {
  background: hsla(210,10%,8%,0.8);
}
#browser ul.playlist-style li {
  background: linear-gradient(hsla(210,10%,30%,0.8), hsla(210,10%,25%,0.8));
  box-shadow: 0 1px 2px #000;
  border: none;
  border-radius: 3px;
}
#results_video_api a.tt-wrapper.playlist_type.playlist_type_private,
#results_video_api a.tt-wrapper.upload_btn.playlist_type_private {
  background: linear-gradient(hsl(0,80%,30%), hsl(0,80%,20%));
}
#browser .browser-content-header .form input[type=text]:focus,
#browser .create-playlist input:focus,
#results_video_api .playlist_info .playlist_filter:focus {
  outline: 1px;
}
/* ##### [Ohter] ##### */
#chat .chat-container ul.chat-main li .activity-row .text img {
  width: auto;
  max-height: 300px;
}
#player-controller ul li.infoContainer {
  display: block;
}
.add-to-playlist a:hover {
  background: linear-gradient(hsl(260,60%,50%), hsl(260,60%,40%)) !important;
}
.dubdown:hover,
.dubdown.voted {
  background: linear-gradient(hsl(0,60%,50%), hsl(0,60%,40%))!important;
}
